.artwork-finder {
  #results {
    margin: 10px 0;
    max-width: 100%;
  }
  
  table {
    width: 100%;
    max-width: 100%;
    margin: 1rem 0;
  }

  img {
    display: block;
  }

  #results ul {
    margin: 1rem 0 1rem 0;
  }
}

.yt-embet {
  aspect-ratio: 16 / 9;
}

.teleget iframe {
  width: 100%;
  max-width: auto;
  margin: 10px 0;
}

#statuscafe-content a {
  text-decoration: underline #FF3D00;
}

.konten {
  ul {
    list-style-position: outside;
    list-style-type: square;
    margin: 0.8em 0;
    padding-left: 1.25em;
  }

  li {
    display: list-item;
    unicode-bidi: isolate;
  }

  a {
    text-decoration: underline #FF3D00;
  }

  a:hover {
    color: #FF3D00;
  }

  p {
    font-family: "Figtree", sans-serif;
    font-weight: 400;
    margin: 0 0 1rem 0;
    font-size: 1rem;
    line-height: 1.5em;
  }

  img {
    display: block;
    margin: 0.3rem auto;
    border-radius: 0.375rem;
  }

  h1, h2, h3, h4 {
    font-family: "Grandstander", sans-serif;
    font-weight: 700;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.25rem;
  }

  h4 {
    font-size: 1.125rem;
  }

}