.artwork-finder {
    #results {
    margin: 10px 0;
    max-width: 100%;
  }
  
  table {
    width: 100%;
    max-width: 100%;
    margin: 1rem 0 1rem 0;
  }

  img {
    display: inline-block;
  }

  #results ul {
    margin: 1rem 0 1rem 0;
  }
}

.yt-embet {
    aspect-ratio: 16 / 9;
  }

.teleget iframe {
    width: 100%;
    max-width: auto;
    margin: 10px 0;
}