<!doctype html>
<html>

<head>
{{ partial "head.html" . }}
</head>

<body class="bg-gray-50">

<!-- status -->
<div class="w-full max-w-xl font-figtree p-2" >
<h1 class="font-grandstander font-bold text-xl md:text-2xl border-b-[1px] border-gray-900 pb-2 mb-2">Status Terbaru</h1>
<div class="inline font-bold text-base md:text-lg hover:text-orange-600" id="statuscafe-username"></div>
<div class="inline text-zinc-600 text-sm" id="statuscafe-time"></div>
<div id="statuscafe-content" class="text-gray-900 text-base md:text-lg"></div>
<script src="/src/js/current-status.js" defer></script></div>
<!-- end status -->

</body>

</html>