{{ define "main" }}

<div class="mx-auto max-w-2xl">
<h1 class="block text-4xl font-bold tracking-wider p-2 my-6">BLOG</h1>

<ul class="px-2">
  {{ range .Pages }}
  {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
  {{ $dateHuman := .Date | time.Format "02 Jan, 2006" }}

  <li class="flex font-figtree py-2 border-b-[1px]">

    <span class="grow font-grandstander text-base md:text-lg font-bold">
    <a class="hover:underline focus:underline active:underline" href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></span>
    <time class="text-base text-gray-600" datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
    </li>

  {{ end }}
</ul>

</div>
{{ end }}
