{{ define "main" }}
<h1 class="block text-center text-5xl font-bold tracking-wider p-6">BLOG</h1>

<div class="grid grid-cols-1 md:grid-cols-3 w-full max-w-6xl mx-auto gap-4 mt-4 mb-6 font-figtree">
  {{ range .Pages }}
  <div class="bg-white flex flex-col border-y-[1px] md:border-x-[1px] border-zinc-300">
  
  <div class="aspect-16/9 overflow-hidden bg-zinc-300">
  <a href="{{ .RelPermalink }}">
  <img class="block w-full object-cover object-top hover:grayscale focus:grayscale active:grayscale"
  src="{{ .Params.featured_image }}" alt="{{ .Title }}">
  </a></div>
  
  <h2 class="block text-xl text-center font-bold mt-2 p-2">
  <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h2>

  {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
  {{ $dateHuman := .Date | time.Format ":date_long" }}
  <div class="font-inter text-sm text-center p-2 mb-2">
  <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time></div>


</div>
  {{ end }}

</div>
{{ end }}
