{{ define "main" }}
<div class="container w-full max-w-2xl mx-auto bg-gray-50">
  <h1 class="font-grandstander text-3xl font-bold p-2 pt-6 pb-2">{{ .Title }}</h1>

  {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
  {{ $dateHuman := .Date | time.Format ":date_long" }}
  <div class="px-2 font-grandstander text-base mb-4"><time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time></div>

  <div class="konten prose font-figtree text-base md:text-lg text-[#333] leading-relaxed p-2">
  {{ .Content }}
  </div>

</div>
{{ end }}