@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@400;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import "tailwindcss";

@theme {
  --font-figtree: "Figtree", sans-serif;
  --font-inter: "Inter", sans-serif;
  --font-orbitron: "Orbitron", sans-serif;
  --font-roboto: "Roboto", sans-serif;
  --font-lato: "Lato", sans-serif;
}

@layer components {
  /* ======== Typography khusus area konten ======== */
  .konten {
    @apply leading-relaxed text-gray-800 dark:text-gray-200;

    /* Paragraf umum */
    p {
      @apply mb-5 text-[17px] leading-relaxed;
      margin: 0 0 1em 0;
    }

    a {
      text-decoration: underline #FF3D00;
    }

    img {
      margin: 0 auto;
      max-height: 80vh;
      border-radius: 10px;
    }

    ul {
      list-style-position: outside;
      list-style-type: square;
      margin: 0.8em 0;
      padding-left: 1.25em;
    }

    li {
      display: list-item;
      unicode-bidi: isolate;
    }

    /* ======== Heading ======== */
    h1, h2, h3, h4, h5, h6 {
      @apply font-sans font-bold text-gray-900 dark:text-gray-100 tracking-tight;
      margin: 0.8em 0; 
    }

    h1 {
      @apply text-4xl;
    }

    h2 {
      @apply text-3xl;
    }

    h3 {
      @apply text-2xl;
    }

    h4, h5, h6 {
      @apply text-xl;
    }

  }
}
