@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@font-face {
    font-family: "Grandstander";
    src: url("/src/font/Grandstander-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Figtree";
    src: url("/src/font/Figtree-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Figtree";
    src: url("/src/font/Figtree-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@theme {
  --font-figtree: "Figtree", sans-serif;
  --font-grandstander: "Grandstander", sans-serif;
  --font-roboto: "Roboto", sans-serif;
}
