<header class="w-full bg-gray-50 border-b-2 border-gray-900">
<div class="bg-gray-50">
<div class="max-w-7xl mx-auto">
<nav class="mx-auto flex justify-start md:justify-center">
<ul class="flex flex-row overflow-x-auto font-figtree">
    <li class="hover:bg-gray-300"><a class="block p-2" href="/">HOME</a></li>
    <li class="hover:bg-gray-300"><a class="block p-2" href="/blog">BLOG</a></li>
    <li class="hover:bg-gray-300"><a class="block p-2" href="/about">ABOUT</a></li>
    <li class="hover:bg-gray-300"><a class="block p-2" href="/now">NOW</a></li>
    <li class="hover:bg-gray-300"><a class="block p-2" href="/links">LINKS</a></li>
    <li class="hover:bg-gray-300"><a class="block p-2" href="/watchlist">WATCHLIST</a></li>
</ul></nav></div></div></header>