<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Warna untuk Chrome, Firefox OS, Opera dan Vivaldi -->
<meta content='#000000' name='theme-color'/>
<!-- Warna untuk Windows Phone -->
<meta content='#000000' name='msapplication-navbutton-color'/>
<!-- Warna untuk iOS Safari -->
<meta content='yes' name='apple-mobile-web-app-capable'/>
<meta content='#000000' name='apple-mobile-web-app-status-bar-style'/>

<link rel="stylesheet" href="/src/css/tailwind.css?v=20251127210000">
<link rel="stylesheet" href="/src/css/global.css?v=20251127210000">

<title>
{{ if .IsHome }}
{{ .Site.Title }}
{{ else }}
{{ .Title }} | {{ .Site.Title }}
{{ end }}
</title>

{{ if .Params.custom_css }}
<link rel="stylesheet" href="{{ .Params.custom_css }}">
{{ end }}
