<div class="bg-black">
<div class="max-w-6xl mx-auto">

<nav class="mx-auto">
<ul class="flex flex-row overflow-x-auto">
    <li class="text-white hover:bg-zinc-700"><a class="block p-2" href="/">HOME</a></li>
    <li class="text-white hover:bg-zinc-700"><a class="block p-2" href="/blog">BLOG</a></li>
    <li class="text-white hover:bg-zinc-700"><a class="block p-2" href="/about">ABOUT</a></li>
    <li class="text-white hover:bg-zinc-700"><a class="block p-2" href="https://galuhmaher.bearblog.dev/now">NOW</a></li>
    <li class="text-white hover:bg-zinc-700"><a class="block p-2" href="/links">LINKS</a></li>
    <li class="text-white hover:bg-zinc-700"><a class="block p-2" href="/watchlist">WATCHLIST</a></li>
</ul>
</nav>

</div></div>