<div class="container w-full max-w-3xl mx-auto bg-white
border-[3px] border-zinc-700">

<!-- judul -->
<div class="mx-auto block p-2">
<a href="/" class="w-full">
<p class="font-orbitron text-4xl text-center font-bold">Galuh Maher</p>
</a>
</div>

<nav class="block bg-white max-w-3xl mx-auto">
<ul class="flex justify-center flex-row flex-wrap font-figtree">
    <li class=""><a class="block p-2" href="/blog">BLOG</a></li>
    <li class=""><a class="block p-2" href="/about">ABOUT</a></li>
    <li class=""><a class="block p-2" href="/now">NOW</a></li>
    <li class=""><a class="block p-2" href="/links">LINKS</a></li>
    <li class=""><a class="block p-2" href="/guestbook">GUESTBOOK</a></li>
</ul>
</nav>

</div>