<!DOCTYPE html>
<html lang="{{ or site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">

<head>
{{ partial "head.html" . }}
</head>

<body class="min-h-screen flex flex-col bg-[url(/src/img/bg.png)]">
<div>

<header class="w-full bg-black">
<div class="max-w-5xl mx-auto">{{ partial "navbar-overflow.html" . }}</div>
</header>

<div class="flex-grow p-2">

<main class="mt-2">
<!-- start grid -->
<div class="grid grid-cols-1 md:grid-cols-3 max-w-3xl mx-auto gap-0 md:gap-2">

<!-- basis kiri -->
<div class="col-span-1 w-full">

<div class="konten font-figtree text-base bg-white border-[1px] border-zinc-400 rounded-lg p-4 mb-4">
  {{ .Content }}

<div class="mb-4">{{ partial "social.html" . }}</div>

<a class="block p-2 md:p-0 no-underline bg-zinc-900 hover:bg-zinc-500 active:bg-zinc-500 focus:bg-zinc-500 border-2 border-zinc-900 text-white text-center text-lg mt-2 mb-2"
href="https://galuhmaher.bearblog.dev">Bearblog</a>
<a class="block p-2 md:p-0 no-underline bg-zinc-900 hover:bg-zinc-500 active:bg-zinc-500 focus:bg-zinc-500 border-2 border-zinc-900 text-white text-center text-lg"
href="https://galuhmaher.blogspot.com">Blogspot</a>
</div>

<div id="statuscafe" class="font-figtree mx-auto bg-white border-[1px] border-zinc-400 my-4 p-2 rounded-lg" >
<h1 class="font-figtree font-bold text-xl border-b-[1px] border-zinc-400 pb-2 mb-2">Status Terbaru</h1>
<div class="inline text-base font-bold" id="statuscafe-username"></div>
<div class="inline text-zinc-600 text-sm" id="statuscafe-time"></div>
<div id="statuscafe-content"></div>
<script src="/src/js/current-status.js" defer></script>
</div>

</div>
<!-- end basis kiri -->

<!-- basis kanan -->
<div class="col-span-2">

<!-- youtube -->
<div class="max-w-3xl font-figtree mx-auto border-[1px] border-zinc-400 rounded-lg" >
<h1 class="font-bold text-xl bg-white rounded-t-lg p-2">Youtube</h1>
    <iframe class="aspect-video w-full rounded-b-lg"
src="https://www.youtube.com/embed/JIEDR9dn1FY?si=teICowK4GYy-lPv4" frameborder="0"
allowfullscreen></iframe></div>
<!-- end youtube -->

<div class="font-figtree mx-auto border-[1px] border-zinc-400 rounded-lg my-4 bg-white p-2" >
  {{ with .GetPage "../page/now" }}
  <h1 class="font-figtree font-bold text-3xl bg-white mb-2">{{ .Title }}</h1>
<div class="konten">{{ .Summary }}<a class="inline" href="/now">Read More</a></div>
{{ end }}
</div>

</div>
<!-- end basis kanan -->

</main>
</div>
<!-- end grid -->

</div>

{{ partial "footer.html" . }}
</div>
</body>
</html>